.container{
    background-color: white;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}
h3{
    border: 2px solid black;
    padding-left: 20px;
    font-size: 30px;
    background-color:  rgb(70, 68, 70);
}
.hero{
    border: solid black 1px;
    height: 800px;
    width: 100%;
    display: flex;
    background-color:  rgb(39, 38, 39);
    border-radius: 10px;
}
.box-1{
    border: solid black 1px;
    height: 750px;
    width: 60%;
    margin: 20px;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(70, 68, 70);
    border-radius: 10px;
   
}
.box-2{
    width: 40%;
    height: 750px;
    
    margin: 20px;
    border-radius: 10px;
}
p{
    font-size: 20px;
    margin-left: 10px;
}
.bitch{
    margin: 20px;
    font-size: 180px;
}
.butt{
    height: 50px;
    border-radius: 30px;
    font-size: 20px;
    margin: 10px;
    margin-left: 25px;
    background-color:  rgb(70, 68, 70);
    color:  rgb(180, 178, 178);
}
img{
    height: 650px;
    width: 20%;
    border-radius: 10px;
    padding-left: 80px;
    position: absolute;
    background-color: transparent;
    transform-origin: bottom;
}
.second{
    transform: rotate(-24deg);
    border-radius: 20px;
    
}
.third{
    transform: rotate(30deg);
    border-radius: 20px;
    
}
.first{
    transform: rotate(8deg);
    border-radius: 20px;
    
}