.title {
  color: rgb(8, 102, 255);
  font-size: 70px;
}
.Fott {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.line {
  width: 25%;
}
.name {
  width: 250px;
  height: 33px;
  border-radius: 3px;
  border-color: rgb(70, 69, 69);
  border-width: 3px;
  padding-left: 10px;
}
.sur {
  width: 250px;
  height: 33px;
  border-radius: 3px;
  border-color: rgb(70, 69, 69);
  border-width: 3px;
}
.abc {
  margin-left: 930px;
  margin-top: -16px;
  font-size: 17px;
  padding-bottom: -6px;
}
.date {
  width: 170px;
  height: 33px;
  border-radius: 3px;
  border-color: rgb(70, 69, 69);
  border-width: 3px;
  margin-left: 930px;
  margin-top: -20px;
}
.month {
  width: 170px;
  height: 33px;
  border-radius: 3px;
  border-color: rgb(70, 69, 69);
  border-width: 3px;
  margin-left: 4px;
  margin-top: -10px;
}
.year {
  width: 160px;
  height: 33px;
  border-radius: 3px;
  border-color: rgb(70, 69, 69);
  margin-left: 730;
  border-width: 3px;
  margin-right: 800px;
}
.xyz{
    margin-left: 930px;
  margin-top: -10px;
  font-size: 17px;
}