h1{
    color: rgb(8, 102, 255);
    font-size: 70px;
}
button{
    color: white;
    background-color: rgb(8, 102, 255);
    width: 180px;
    height: 30px;
    border-radius: 10px;

}
h3{
    font-size: 30px;
}
.EMAIL{
    height: 40px;
    width: 250px;
    border-radius: 10px;
}    
.PASS{
    height: 40px;
    width: 250px;
    border-radius: 10px;
}
.LOGIN{
    height: 45px;
    width: 250px;
    border-radius: 10px;
}
.LINK{
    height: 25px;
    width: 250px;
}
.BORDER{
    width: 500px;
    height: 400px;
    background-color: rgb(201, 192, 181);
    padding-top: 2px;
    border-radius: 20px;
    box-shadow: 10px 10px rgb(178, 178, 185);

}